.main {
    background-color: #f9f5f0;
  }
  
  .adoption-info {
    max-width: 700px;
    margin: 0 auto;
  }
  
  p {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 1.1rem;
    color: #666666;
    line-height: 1.6;
  }
  
  strong {
    color: #333333;
  }